<h3> Daily Mind Teasers </h3>
<h1> Test your simple brain. </h1>
<br/>
<h2> Using Ruby on Rails</h2>

<div class="footer">
   <div class="col-xs-9">
     <p>
       <span style="font-size:0.8em">
         <%= link_to "About", about_path, class: "btn btn-lg btn-secondary" %>
    |
         <%= link_to "Contact", contact_path, class: "btn btn-lg btn-secondary" %>
       </span>
     </p>
   </div>
  </div>
